#                                            PROBLEM SET - 2 
Student Id: 200493027

#                                         DATA PROGRAMMING

# Question 1
After importing the module into the interpreter, you execute:What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:
#Module created with the fileName ModuleQ1  and imported
import ModuleQ1
#a ,with a gloabl reference is assigned a value of 0 and incremeneted to 2
ModuleQ1.b()
#a is incremented to 4
ModuleQ1.b()
#a is incremented to 6
ModuleQ1.b()
ModuleQ1.a

6

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:

In [1]:
#method to open and read the file name
def fileLength(fileName):
    try:
        file1 = open(fileName,"r")
        data = file1.read()
        print(len(data))
    except FileNotFoundError:
        #exception is handled here
        print('File does not exist please retry')
temp=True
while(temp):
    fileName = input("Enter the File Name that needs to be opened and type exit to stop execution\t")
    if (fileName.lower()=='exit'):
        temp = False
        break
    else:
        fileLength(fileName)

Enter the File Name that needs to be opened and type exit to stop execution	currencies.txt
477
Enter the File Name that needs to be opened and type exit to stop execution	random.txt
File does not exist please retry
Enter the File Name that needs to be opened and type exit to stop execution	exit

# Question 3
Write a class named Marsupial that can be used as shown below: Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below I am a Kangaroo located at coordinates (3,0)

In [7]:
#Parent Class
class Marsupial:
    itemsList = []
    def put_in_pouch(self,items):
        self.itemsList.append(items)
    def Contents(self):
        print(self.itemsList)
#Child class
class Kangaroo(Marsupial):
    dx=0
    dy=0
    def jump(self,dx,dy):
        self.dx=self.dx+dx
        self.dy=self.dy+dy
   
    def __str__(self):
        return "I am a Kangaroo located at coordinates\t " + str(self.dx) +","+ str(self.dy)

m = Marsupial()
temp=True
while(temp):
    name = input("Enter the inputs for Marsupial and type exit to stop execution\t")
    if (name.lower()=='exit'):
        temp = False
        break
    else:
        m.put_in_pouch(name)
k = Kangaroo()
temp=True
while(temp):
    name = input("Enter the coordinates x,y for Kangaroo and type exit to stop execution and y to continue \t")
    if (name.lower()=='exit'):
        temp = False
        break
    else:
        x = input("enter x coordinate")
        y = input("enter y coordinate")
        k.jump(int(x),int(y))    
m.Contents()
print(k)

Enter the inputs for Marsupial and type exit to stop execution	doll
Enter the inputs for Marsupial and type exit to stop execution	firetruck
Enter the inputs for Marsupial and type exit to stop execution	kitten
Enter the inputs for Marsupial and type exit to stop execution	exit
Enter the coordinates x,y for Kangaroo and type exit to stop execution and y to continue 	y
enter x coordinate1
enter y coordinate0
Enter the coordinates x,y for Kangaroo and type exit to stop execution and y to continue 	y
enter x coordinate1
enter y coordinate0
Enter the coordinates x,y for Kangaroo and type exit to stop execution and y to continue 	y
enter x coordinate1
enter y coordinate0
Enter the coordinates x,y for Kangaroo and type exit to stop execution and y to continue 	exit
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates	 3,0

# Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

In [8]:
def collatz(x):
    while(x>1):
        if (x % 2) == 0:
            print(x)
            x=x/2
        else:
            print(x)
            x=(3*x)+1
    print(x)
temp = True
while(temp):
    num = input("Enter the number and type exit to stop execution \t")
    if (num.lower()=='exit'):
        temp = False
        break
    else:
        collatz(int(num))

Enter the number and type exit to stop execution 	1
1
Enter the number and type exit to stop execution 	10
10
5.0
16.0
8.0
4.0
2.0
1.0
Enter the number and type exit to stop execution 	exit

# Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.

In [11]:
#method to convert binary using recursion
def binary(n):
   if n > 1:
       binary(n//2)
    #delimeter is changed to blank and the remainder of 2 is appended
   print(n % 2,end = '')
temp = True
while(temp):
    num = input("\nEnter the number and type exit to stop execution \t")
    if (num.lower()=='exit'):
        temp = False
        break
    else:
        binary(int(num))

Enter the number and type exit to stop execution 	0
0
Enter the number and type exit to stop execution 	1
1
Enter the number and type exit to stop execution 	3
11
Enter the number and type exit to stop execution 	9
1001
Enter the number and type exit to stop execution 	exit

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have 
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.

In [14]:
from html.parser import HTMLParser
#available tags in python
headerTags = ["h1","h2","h3","h4","h5","h6"]
class HeadingParser(HTMLParser):
    isHeadingPresent = False
    #if the tag is part of header tags then set the boolean to true
    def handle_starttag(self, tag, attrs):
        if tag in headerTags:
            self.isHeadingPresent = True
    #if boolean is true then print data
    def handle_data(self, data):
        if self.isHeadingPresent:
            print(data)
    #the following method avoids the blanks in the output as we are setting it false again
    def handle_endtag(self, tag):
        if tag in headerTags:
            self.isHeadingPresent = False
hParser = HeadingParser()
file = open("w3c.html", "r")
html = file.read()
file.close()
hParser.feed(html)

W3C Mission
Principles

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.

In [3]:
from urllib.request import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):
    def __init__(self,url):
        HTMLParser.__init__(self)
        self.url=url
        self.links=[]
    def handle_starttag(self,tag,attrs):
        if tag=='a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url,attr[1])
                if absolute[:4] == 'http':
                    self.links.append(absolute)
    def getLinks(self):
        self.links
url = 'http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
resource = urlopen(url)
content = resource.read.decode()
collectcor = collector(url)
collector.feed(content)
collector.getLinks()

must do this

# Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [31]:
import sqlite3
#opening a DB
conn = sqlite3.connect('PS2.db')
print ("Opened database successfully")
#drop the table if it already exists
conn.execute("drop table Weather")
#commit the changes as the buffer will be freed up
conn.commit()
#table creation
conn.execute('''CREATE TABLE Weather(
	city varchar(10) ,
	country varchar(10) ,
	season varchar(10) ,
	temperature float ,
	rainfall float 
); ''')
print ("Table created successfully")
conn.commit()
conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values \
             ('Mumbai' ,'India' ,'Winter', 24.8 ,5.9)");

conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values \
             ('Mumbai' ,'India' ,'Spring', 28.4 ,16.2)");

conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values \
            ('Mumbai' ,'India' ,'Summer', 27.9 ,1549.4)");

conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values \
            ('Mumbai' ,'India' ,'Fall' ,27.6, 346.0)");
conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values \
            ('London' ,'United Kingdom' ,'Winter' ,4.2 ,207.7)");
conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values \
             ('London' ,'United Kingdom' ,'Spring',8.3 ,169.6)");
conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values \
             ('London' ,'United Kingdom' ,'Summer' ,15.7, 157.0)");
conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values \
             ('London' ,'United Kingdom' ,'Fall' ,10.4, 218.5)");
conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values \
             ('Cairo','Egypt' ,'Winter' ,13.6 ,16.5)");
conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values \
             ('Cairo' ,'Egypt' ,'Spring' ,20.7 ,6.5)");
conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values \
             ('Cairo' ,'Egypt' ,'Summer' ,27.7 ,0.1)");
conn.execute("INSERT INTO Weather (city,country,season,temperature,rainfall) values \
             ('Cairo','Egypt' ,'Fall' ,22.2 ,4.5)");
conn.commit()
#a
cursor = conn.execute("SELECT Temperature FROM Weather");
print("\ntemperature details for question 8a")
for row in cursor:
    print(row[0], end = '\t')
#b
cursor = conn.execute("SELECT distinct city FROM Weather");
print("\n\n8b Distinct cities for question")
for row in cursor:
    print(row[0], end = '\t')
#c
print("\n\n8c All the details of the country India")
cursor = conn.execute("SELECT * FROM Weather where Country = 'India'");
print(cursor.fetchall())
#d
print("\n\n8d All the Fall records")
cursor = conn.execute("SELECT * FROM Weather where season  = 'Fall'");
print(cursor.fetchall())
#e
print("\n8e The city, country, and season for which the average rainfall is between 200 and 400 millimeters")
cursor = conn.execute("SELECT city,country,season FROM Weather group by city,country,season having  avg(rainfall) > 200 and  avg(rainfall) < 400");
print(cursor.fetchall())
#f
print("\n8f The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.")
cursor = conn.execute("SELECT city,country FROM Weather where  season = 'Fall' group by city,country having  avg(temperature) > 20");
print(cursor.fetchall())
#g
print("\n8g The total annual rainfall for Cairo.")
cursor = conn.execute("SELECT city,sum(rainfall) as annualRain FROM Weather  group by city having  city = 'Cairo'");
print(cursor.fetchall())
#h
print("\n8h The total rainfall for each season..")
cursor = conn.execute("SELECT season,sum(rainfall) as annualRain FROM Weather  group by season");
print(cursor.fetchall())
conn.close()

Opened database successfully
Table created successfully

temperature details for question 8a
24.8	28.4	27.9	27.6	4.2	8.3	15.7	10.4	13.6	20.7	27.7	22.2

8b Distinct cities for question
Mumbai	London	Cairo

8c All the details of the country India
[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]


8d All the Fall records
[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

8e The city, country, and season for which the average rainfall is between 200 and 400 millimeters
[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]

8f The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
[('Cairo', 'Egypt'), ('Mumbai', 'India')]

8g The total annual rainfall for Cairo.
[('Cairo', 27.6)]

8h The total rainfall for each season..
[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

# Question 9
Suppose list words is defined as follows:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [38]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

upperCaseList = []
lowerCaseList = []
stringLength = []
for i in words:
    upperCaseList.append(i.upper())
print("\n9a Print the List with UpperCase")
print(upperCaseList)

for i in words:
    lowerCaseList.append(i.lower())
print("\n9b Print the List with LowerCase")
print(lowerCaseList)

for i in words:
    stringLength.append(len(i))
print("\n9c (the list of lengths of words in list words")
print(stringLength)
temp=[]
for i in range(len(words)):
    temp2List = []
    temp2List.append(words[i].upper())
    temp2List.append(words[i].lower())
    temp2List.append(len(words[i]))
    temp.append(temp2List)
print("\n9d the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word")
print(temp)
temp.clear()
print("\n9e (the list of words in list words containing 4 or more characters")
for i in words:
    if len(i) >=4:
        temp.append(i)
print(temp)

9a Print the List with UpperCase
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

9b Print the List with LowerCase
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

9c (the list of lengths of words in list words
[3, 5, 5, 3, 5, 4, 3, 4, 3]

9d the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

9e (the list of words in list words containing 4 or more characters
['quick', 'brown', 'jumps', 'over', 'lazy']